@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

@import './include/variables.scss';
@import './include/typography.scss';
@import './include/color.scss';
@import './include/global.scss';

// Header section
.header__wrapper {
    height: 100px;
}

.header__search-bar {
    max-width: 500px;
    height: 40px;
    position: relative;

    button {
        outline: none;
        border-color: #ced4da;

        &:hover {
            background-color: $primary-color;
        }
    }

    .header__search-bar-icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.header__action {
    color: $text-color;
}

.header__action-cart {
    cursor: pointer;
    i {
        position: relative;
        span {
            position: absolute;
            right: 0;
            top: -5px;
            font-size: 10px;
            background-color: $primary-color;
            color: $white-color;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.header__action--mobile {
    display: none;
}

.header__wrapper--mobile {
    display: none;  
}

// Navar section
.navbar {
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
}

.navbar__category {
    button {
        background-color: $primary-color;
        color: $white-color;
        &:hover {
            background-color: $primary-color-hover;
            color: $white-color;
        }
    }
}

.navbar__social {
    a {
        color: $text-color;
        &:hover {
            color: $primary-color;
        }
    }
}

// Slideshow section
.slideshow {
    max-height: 350px;
    padding: 18px;
}

.slide__show-special {
    height: 100%;
    background-image: url('assets/img/slide-show/small-bg-banner.png');
    background-size: cover;
    font-size: 2.4rem;
    padding: 32px 16px;
}

.btn-buy-now {
    background-color: $primary-color;
    &:hover {
        background-color: $primary-color-hover;
    }
}

// Product item section
.product-item__wrap {
    height: 350px;

    .product__item-img:hover {
        transform: translateY(-2px);
    }
}

.btn-add-product:hover {
    background-color: $primary-color-hover;
}


// Special category section
.special-category__product {
    height: 100px;
}

// Contact form section
.contact-form {
    background-image: url('assets/img/contact-form/bg-pattern.png');
    background-repeat: repeat-x;
    background-size: cover;
}

.btn-subscribe:hover {
    background-color: $primary-color-hover;
}


// Error page
.error-page{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}
.error-page{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
  color: black;
}
.error-page .container{
  text-align: left;
  margin-left: 25%;
}
.error-page .error-img{
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 50px;
}
.error-page .error-img img{
  height: 350px;
}
.success{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(184, 244, 205);
  color: black;
}

/* Cart css */

#cart-container{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  .cart{
    height: 80%;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
  }
  
  .cart .cart-row{
    width: 80%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 10% 60% 30%;
  }
  .cart .cart-row .row1{
    margin-top: 20px;
    border-bottom: 1px solid black;
    font-size: 20px;
  }
  .cart .cart-row .row3{
    margin-top: 20px;
  }
  .cart .cart-row .row2 div{
    height: 40%;
  }
  .cart .cart-row .row2{
    overflow-y: scroll;
  }
  .row2 button{
    margin-bottom: 5px;
  }
  .row2 .products{
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: 1px solid black;
  }
  .row2 .products img{
    max-width:100%;
    max-height:100%;
  }
  .row2 .products .button-cart{
    text-align: right;
  }
  #btnX{
    margin-bottom: 40%;
  }
  @media only screen and (max-width: 400px) {
    .cart{
      width: 300px;
    }
  }
  @media only screen and (max-width: 900px) {
    .login-form,.register-form{
      width: 50%;
    }
  }
  @media only screen and (max-width: 600px) {
    .login-form,.register-form{
      width: 60%;
    }
  }
  @media only screen and (max-width: 400px) {
    .login-form,.register-form{
      width: 90%;
    }
  }

// Footer Section
.footer__wrapper {
    border-bottom: 2px solid $border-color;
}
.footer__social {
    a {
        color: $text-color;
        &:hover {
            color: $primary-color;
        }
    }
}
.footer__section {
    a {
        color: $text-color;
        &:hover {
            color: $primary-color;
        }
    }
}

// Product page
.product__image {
    height: 350px;
}

.product__price {
    font-size: 28px;
    color: $header-color;
    font-weight: bold;
}

.btn-product-type {
    border: 1px solid $primary-color;
    background-color: transparent;
    &:hover {
        background-color: $primary-color;
        color: $white-color;
    }

    &.btn-product-type--active {
        background-color: $primary-color;
        color: $white-color;
    }
}

.btn-product__buy-now {
    background-color: $primary-color;
    color: $white-color;
    &:hover {
        background-color: $primary-color-hover;
        color: $white-color;
    }
}

.btn-product__add-cart {
    background-color: $border-color;
    color: $primary-color;
    &:hover {
        background-color: $primary-color;
        color: $white-color;
    }
}


// Section for cart
.cart-item {
    .cart-item__img {
        width: 100px;
    }
}


// Section for responsive
/* Mobile and tablet */
@media (max-width: 992px) {
    .navbar__category {
        display: none;
    }

    .header__action-cart, 
    .header__action-account {
        display: flex;
        align-items: center;
        justify-content: center;

        i { font-size: 28px; }
        & > span {
            display: none;
        }
    }

    .category-list__header {
        font-size: 22px;
    }

    .category-list__item {
        font-size: 12px;
    }

    .product__item-img {
        display: flex;
        align-items: center;
        img {
            width: 100%;
            height: unset !important;
        }
    }

    .btn-add-product {
        width: 100%;
    }

    .special-category__header {
        font-size: 22px;
    }

    .special-category__rating {
        font-size: 12px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Small Tablet and mobile */
@media (max-width: 767px) {
    .header__wrapper {
        display: none;
    }
    
    .header__wrapper--mobile {
        display: block;
        height: 75px;
        position: relative;
        ul {
            display: none;
            position: absolute;
            top: 100%;
        }
    
        &:hover ul {
            display: flex;
        }
    }

    .slideshow {
        padding: 4px;
    }
    
    .category-list__header,
    .special-category__header {
        font-size: 18px;
    }
}

/* Small Tablet */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Mobile */ 
@media (max-width: 575px) {
    .header__wrapper {
        height: 50px;
    }
}