$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$primary-color: #F18701;
$primary-color-hover: #ffa52e;
$secondary-color: #7678ED;

$white-color: #fff;
$text-color: #616161;
$header-color: #17223B;

$border-color: #EEEEEE;
